{% extends 'index/base.html' %}
{% load staticfiles %}

{% block content %}
              <!-- Heading -->
<head class="uk-head">
    <div class="uk-container">
        <div class="uk-text-center md-heading">
            <h3 class="uk-heading-primary">vKirirom</h3>
        </div>
    </div>
</head>
                <!-- End Heading -->
<div id="content" class="uk-padding-small">
        <div class="uk-container">
                <div class="uk-container-large">
                    <div class="uk-padding intro-text">
                        <p class="uk-text-center uk-margin-right uk-margin-left">
                                vKirirom Pine Resort located on top of kirirom mountain national 
                                park provides you once in a life time experiences. A lot of activities 
                                in the fresh air like Jungle trekking, horse riding, fruit picking, team 
                                building for corporation as well with new creative delicious cuisine contains 
                                organic vegetable from own farm.
                        </p>
                    </div>
                </div>
                
                <div class="uk-padding">
                    <div class="uk-child-width-1-3@m" uk-grid>
                        {% for post in posts %}
                        <div>
                            <div class="uk-card uk-card-default">
                                <div class="uk-card-media-top">

                                    <img src= {{post.post_thumbnail.url}} alt="">
                                </div>
                                <div class="uk-card-body">
                                    <h3 class="uk-card-title">{{post.title}}</h3>
                                    <p>{{post.decrib | truncatechars_html:50}} </p>
                                    <a href="{% url 'post_detail' post.id %}">Read More</a>
                                </div>
                                </div>
                            </div>
                        {% endfor %}
                       
                        
                </div>
            {% if  posts.has_other_pages %}
                <ul class="uk-pagination"  uk-flex-center >
                    {% if posts.has_previous %}
                        <li><a href="?page={{ posts.previous_page_number }}"><span class="uk-margin-small-right" uk-pagination-previous></span> Previous</a></li>
                    {% else %}
                        <li class="uk-disabled"><span>&laquo;</span></li>
                    {% endif %}

                    {% for i in posts.paginator.page_range %}
                    {% if posts.number == i %}
                        <li class="uk-active"><span>{{i}}</span></li>
                    {% else %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                    {% endfor %}
                    {% if posts.has_next %}
                        <li class="uk-margin-auto-left"><a href="?page={{ posts.next_page_number }}">Next <span class="uk-margin-small-left" uk-pagination-next></span></a></li>
                    {% else %}
                        <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                </ul>
             {% endif %}
         </div>


    </div>
                    <!-- End Content -->
                    
                
    

        
{% endblock %}